main {
    padding-top: 10vh; /* push content below the fixed header */
    width: 100%;
  }
@media (max-width: 768px) {
    main {
        padding-top: 6vh; /* push content below the fixed header */
        width: 100%;
      } 
}
@media (max-width: 1024px) {
    main {
        padding-top: 5vh; /* push content below the fixed header */
        width: 100%;
      } 
}
@media (max-width: 1600px) {
    main {
        padding-top: 0vh; /* push content below the fixed header */
        width: 100%;
      } 
}